# Python and databases

### install the mysql 8.0 connector:
`pip install PyMySQL`
For more background on the connector/driver [go here](https://o7planning.org/en/11463/connecting-mysql-database-in-python-using-pymysql) and to [the docs](https://pymysql.readthedocs.io/en/latest/modules/cursors.html)

In [ ]:

import datetime
import pymysql

cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='test')  

cursor = cnx.cursor()

query = ("SELECT firstname, lastname, startdate, enddate, salary FROM pythondemo WHERE startdate BETWEEN %s AND %s")

hire_start = datetime.date(1960, 1, 1)
hire_end = datetime.date(2004, 12, 31)

cursor.execute(query, (hire_start, hire_end))

for (firstname, lastname, startdate, enddate, salary) in cursor:
  print("{} {} hired from {} to {} is paid: {} DKR pr month".format(firstname, lastname, startdate, enddate, salary))

cursor.close()
cnx.close()

## Class exercise Select
1. choose a database and a table with content from your mysql server (running on vagrant)
2. using mysql.connector from a jupyter notebook read and print the content of the table

In [3]:
import pymysql

cnx = pymysql.connect(user='dev', password='ax2', host='127.0.0.1', port=3307, db='Books')

cursor = cnx.cursor()

query = ('SELECT * from BOOK')
cursor.execute(query)
for(id, author) in cursor:
    print(id, author)

1 Author 1
2 Author 2

In [ ]:
# insert, update, delete
from __future__ import print_function

from decimal import Decimal
from datetime import datetime, date, timedelta

import mysql.connector

# Connect with the MySQL Server
cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='test')  
cursor = cnx.cursor()

curA = cnx.cursor()
curB = cnx.cursor()

# Query to get employees who joined in a period defined by two dates
query = ("SELECT id, salary FROM pythondemo WHERE enddate IS NULL")

# UPDATE and INSERT statements for the old and new salary
update_old_salary = (
  "UPDATE pythondemo SET salary = %s "
  "WHERE id = %s")

# Select the employees getting a raise (all that are still employed)
curA.execute(query)

# Iterate through the result of curA
for (id, salary) in curA:
  # Update the old and insert the new salary
  new_salary = int(round(Decimal(salary) * Decimal('1.15')))
  curB.execute(update_old_salary, (new_salary, id))
  # Commit the changes
  cnx.commit()
cursor.close()
curA.close()
curB.close()
cnx.close()

In [ ]:
# with the build in dict cursor
cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='test') 

cursor = cnx.cursor(pymysql.cursors.DictCursor) 

query = ("SELECT firstname, lastname, startdate, enddate, salary FROM pythondemo")

cursor.execute(query)
cursor.fetchall()

## Exercise
Create a function that can take a dict and a table name and persist all values of the dict into the table columns corresponding to the dict keys.

Hint: https://dev.mysql.com/doc/connector-python/en/connector-python-example-cursor-transaction.html

In [ ]:
# with pandas
import pandas as pd 
import pymysql

cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='test') 

df = pd.read_sql('SELECT * FROM pythondemo', con=cnx)
df

In [4]:
# dataframe to table
import pandas as pd 
import pymysql
from sqlalchemy import create_engine #sqlalchemy helped convert strings to dates seamlessly

#cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='test') 
con_str = 'mysql+pymysql://dev:ax2@localhost:3307/test'
engine = create_engine(con_str)

df = pd.DataFrame({'firstname' : ['Ulrik', 'Ulla', 'Ulfred'],
                  'lastname':['Volborg','Willman','Valberg'],
                  'startdate':['2003-03-03','2001-05-04','2001-01-04'],
                  'enddate':['2005-08-20','2005-12-24','2006-10-30'],
                  'salary':['21000', '32000', '43000']})
#df = df.applymap(str)
df.to_sql('pythondemo',con=engine, if_exists='append', index = False)
print(df.dtypes)

firstname    object
lastname     object
startdate    object
enddate      object
salary       object
dtype: object

## Class exercise
create a pandas dataframe from below csv and turn it into a mysql table called: 'cars'

```csv
make,model,year,price
vw,up,2018,123000
audi,a6,2011,85000
citroen,c3,2019,143000
```